<launch>
  <!--Load urdf to param server-->

  <arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/> 
  <arg name="robot_name" default="iiwa_arm"/>
  <arg name="origin_xyz" default="'0 0 0'"/> <!-- Note the syntax to pass a vector -->
  <arg name="origin_rpy" default="'0 0 0'"/>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find iiwa_arm)/urdf/iiwa14.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name) origin_xyz:=$(arg origin_xyz) origin_rpy:=$(arg origin_rpy)"/>


  <!--GUI used to send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <!--Publish robot state to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/iiwa_arm/joint_states" />
  </node>-->

  <!--rviz-->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    output="screen" args="-d $(find iiwa_arm)/config/forward_kinematics.rviz"/>

  <!--<node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    output="screen"/>-->
</launch>
